package base

import (
	"github.com/gin-gonic/gin"
)

type IController interface {
	setContext(ctx *gin.Context)
	Decode() IError
	Process() IError
	SetError(err IError)
	getResponse() Response
	GetTrackId() string
	SetTrackId(id string)
}

type IError interface {
	GetCode() string
	GetMsg() string
	Error() string
	IsNil() bool
	GetDetail() interface{}
}

type IMiddleware interface {
	Run() IError
}
